---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"user_data","attributes":{"description":"test description","content":"dGVzdGUK"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects/proj_gXQvNedwV0zpb/user_data
        method: POST
      response:
        body: '{"data":{"id":"ud_g3PYaRxPNyozM","type":"user_data","attributes":{"description":"test description","content":"dGVzdGUK","created_at":"2025-05-05T22:27:06+00:00","updated_at":"2025-05-05T22:27:06+00:00","decoded_content":"teste\n"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"ec43aab1aa4e91f4b524f7425a155a46"
        status: 201 Created
        code: 201
        duration: 663.211917ms
    - id: 1
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/projects/proj_gXQvNedwV0zpb/user_data/ud_g3PYaRxPNyozM
        method: GET
      response:
        body: '{"data":{"id":"ud_g3PYaRxPNyozM","type":"user_data","attributes":{"description":"test description","content":"dGVzdGUK","created_at":"2025-05-05T22:27:06+00:00","updated_at":"2025-05-05T22:27:06+00:00","decoded_content":"teste\n"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"ec43aab1aa4e91f4b524f7425a155a46"
        status: 200 OK
        code: 200
        duration: 299.177208ms
[...]
    - id: 4
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/projects/proj_gXQvNedwV0zpb/user_data/ud_g3PYaRxPNyozM
        method: GET
      response:
        body: '{"errors":[{"code":"not_found","status":"404","title":"Error","detail":"Specified Record Not Found","meta":{}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 637.531333ms
