---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/regions?page%5Bnumber%5D=1&page%5Bsize%5D=20
        method: GET
      response:
        body: '{"data":[{"id":"reg_ash_001","type":"regions","attributes":{"slug":"ASH","name":"Ashburn","country":{"slug":"US","name":"United States"}}}],"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 150ms
[...]
