---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"virtual_network","attributes":{"description":"test","site":"SAO2","project":"proj_ogXka9v7m0JdB"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/virtual_networks
        method: POST
      response:
        body: '{"data":{"id":"vlan_Yx2za1XgB5VrL","type":"virtual_networks","attributes":{"tags":[],"vid":2012,"name":"SAO2-2012","description":"test","site":"SAO2"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"4ece2ea9309d497870000d618a03fc57"
        status: 201 Created
        code: 201
        duration: 1.737779625s
    - id: 1
      request:
        host: api.latitude.sh
        body: |
            {"data":{"id":"vlan_Yx2za1XgB5VrL","type":"virtual_networks","attributes":{"description":"test","tags":[""]}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/virtual_networks/vlan_Yx2za1XgB5VrL
        method: PATCH
      response:
        body: '{"data":{"id":"vlan_Yx2za1XgB5VrL","type":"virtual_networks","attributes":{"tags":[],"vid":2012,"name":"SAO2-2012","description":"test","site":"SAO2"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"4ece2ea9309d497870000d618a03fc57"
        status: 200 OK
        code: 200
        duration: 1.028887334s
    - id: 2
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/virtual_networks/vlan_Yx2za1XgB5VrL
        method: GET
      response:
        body: '{"data":{"id":"vlan_Yx2za1XgB5VrL","type":"virtual_networks","attributes":{"tags":[],"vid":2012,"description":"test","region":{"city":"São Paulo 2","country":"Brazil","site":{"id":"loc_ZnPRbajK0koM1","name":"São Paulo 2","slug":"SAO2","facility":"Scala SP2"}},"assignments_count":0}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"f368151a8d98d61e25b07600974ffd63"
        status: 200 OK
        code: 200
        duration: 233.277834ms
[...]
    - id: 5
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/virtual_networks/vlan_Yx2za1XgB5VrL
        method: GET
      response:
        body: '{"errors":[{"code":"not_found","status":"404","title":"Error","detail":"Specified Record Not Found","meta":{}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 207.537917ms
