---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"Tag","attributes":{"name":"test_tag","description":"terraform test tag","color":"#ffffff"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags
        method: POST
      response:
        body: '{"data":{"id":"tag_y7GZkz96MOuyQlRxbRXMcdD1ple","type":"tags","attributes":{"name":"test_tag","slug":"test_tag","description":"terraform test tag","color":"#ffffff","team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","status":"verified","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e7d546df1f524d838995017d4f787e17"
        status: 201 Created
        code: 201
        duration: 381.129334ms
[...]
    - id: 3
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags/tag_y7GZkz96MOuyQlRxbRXMcdD1ple
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 229.353459ms
[...]
