---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"virtual_network_assignment","attributes":{"server_id":"sv_PVwea4wdR5B9O","virtual_network_id":"vlan_M3Beab6eyaLnb"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/virtual_networks/assignments
        method: POST
      response:
        body: '{"data":{"id":"vnasg_ewOM5GA3b0p8E","type":"virtual_network_assignment","attributes":{"virtual_network_id":"vlan_M3Beab6eyaLnb","vid":2006,"server_id":"sv_PVwea4wdR5B9O","description":"test-terraform","status":"connecting"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"535e288e270f254a48b50b01ea6997c7"
        status: 201 Created
        code: 201
        duration: 4.346613458s
    - id: 1
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/virtual_networks/assignments
        method: GET
      response:
        body: '{"data":[{"id":"vnasg_ewOM5GA3b0p8E","type":"virtual_network_assignment","attributes":{"virtual_network_id":"vlan_M3Beab6eyaLnb","vid":2006,"description":"test-terraform","status":"connecting","server":{"id":"sv_PVwea4wdR5B9O","hostname":"test-terraform","label":"196S011293","status":"on"}}}],"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"fb63a64be801ff9a1f8d6faa98543f52"
        status: 200 OK
        code: 200
        duration: 219.227958ms
[...]
    - id: 3
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/virtual_networks/assignments/vnasg_ewOM5GA3b0p8E
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 3.306629458s
[...]
