---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"Member","attributes":{"first_name":"Test","last_name":"User","email":"testuser@latitude.sh","role":"collaborator"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/team/members
        method: POST
      response:
        body: '{"data":{"id":"user_Lym4kyGzyMtgr4qJGVgQijn6mvzB","type":"memberships","attributes":{"first_name":"Test","last_name":"User","email":"testuser@latitude.sh","role":"collaborator","mfa_enabled":false,"created_at":"2024-08-19T20:35:22+00:00","updated_at":"2024-08-19T20:35:22+00:00"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"b6e643584b90839f89d4bfa53b19d4eb"
        status: 201 Created
        code: 201
        duration: 1.735020292s
    - id: 1
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/team/members
        method: GET
      response:
        body: '{"data":[{"id":"user_Lym4kyGzyMtgr4qJGVgQijn6mvzB","type":"users","attributes":{"first_name":"Test","last_name":"User","email":"testuser@latitude.sh","mfa_enabled":false,"created_at":"2024-08-19T20:35:22+00:00","updated_at":"2024-08-19T20:35:22+00:00","last_login_at":null,"role":{"id":"role_GXwKmmR11xUrRGRlvq19iBwopdAX","name":"collaborator"}}},{}],"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"2abbc407db0cb8075e1137072c8f01f5"
        status: 200 OK
        code: 200
        duration: 206.466ms
[...]
    - id: 3
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/team/members/user_Lym4kyGzyMtgr4qJGVgQijn6mvzB
        method: DELETE
      response:
        body: '{"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"e687ef92c8b55cc7615daca748f6f7e9"
        status: 200 OK
        code: 200
        duration: 1.635574084s
[...]
