---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"projects","attributes":{"name":"test","provisioning_type":"on_demand","description":"hello","environment":"Development"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects
        method: POST
      response:
        body: '{"data":{"id":"proj_XDO7NYy6dNPgw","type":"projects","attributes":{"tags":[],"name":"test","slug":"test","description":"hello","bandwidth_alert":null,"environment":"Development","provisioning_type":"on_demand","billing_type":"Normal","billing_method":"Normal","billing":{"subscription_id":"sub_1PpcIaLpWuMxVFxQSf50Nm4t","type":"Normal","method":"Normal"},"team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"},"status":"verified"},"stats":{"ip_addresses":0,"prefixes":0,"servers":0,"containers":0,"vlans":0},"created_at":"2024-08-19T20:35:31+00:00","updated_at":"2024-08-19T20:35:31+00:00"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"affbee5291b004ecb183af82ceefff85"
        status: 201 Created
        code: 201
        duration: 4.783241583s
    - id: 1
      request:
        host: api.latitude.sh
        body: |
            {"data":{"id":"proj_XDO7NYy6dNPgw","type":"projects","attributes":{"name":"test","description":"hello","environment":"Development","tags":[""]}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects/proj_XDO7NYy6d[...]
[...]
    - id: 6
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/projects/proj_XDO7NYy6dNPgw
        method: GET
      response:
        body: '{"errors":[{"code":"not_found","status":"404","title":"Error","detail":"Specified Record Not Found","meta":{}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 583.731791ms
