---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/plans?filter%5Bname%5D=c2.small.x86
        method: GET
      response:
        body: '{"data":[{"id":"plan_2X6KG5mA5yPBM","type":"plans","attributes":{"slug":"c2-small-x86","name":"c2.small.x86","features":["ssh","user_data"],"specs":{"cpu":{"type":"E-2134G","clock":3.5,"cores":4,"count":1},"memory":{"total":32},"drives":[{"count":1,"size":"500 GB","type":"SSD"}],"nics":[{"count":1,"type":"1 Gbps"}],"gpu":{}},"regions":[{"name":"Chile","deploys_instantly":["ubuntu_24_04_x64_lts"],"locations":{"available":["SAN3","SAN"],"in_stock":["SAN3","SAN"]},"stock_level":"high","pricing":{"USD":{"hour":0.22,"month":153.0,"year":1349.0},"BRL":{"hour":1.08,"month":749.0,"year":6623.0}}},{"name":"Germany","deploys_instantly":[],"locations":{"available":["FRA"],"in_stock":[]},"stock_level":"unavailable","pricing":{"USD":{"hour":0.21,"month":146.0,"year":1288.0},"BRL":{"hour":1.05,"month":728.0,"year":6439.0}}},{"name":"Australia","deploys_instantly":[],"locations":{"available":["SYD2","SYD"],"in_stock":[]},"stock_level":"unavailable","pricing":{"USD":{"hour":0.29,"month":201.0,"year":1778.0},"BRL":{"hour":1.43,"month":992.0,"year":8769.[...]
[...]
