---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/regions?filter%5Bslug%5D=ASH
        method: GET
      response:
        body: '{"data":[{"id":"loc_zdexA0q8alQVv","type":"regions","attributes":{"name":"Ashburn","slug":"ASH","facility":"DEFT IAD","country":{"name":"United States","slug":"united-states"},"type":"Core"}}],"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"aeda6c7c350fb9350fd1134d7a4fb9db"
        status: 200 OK
        code: 200
        duration: 547.549166ms
[...]
