---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/virtual_networks/assignments
        method: GET
      response:
        body: '{"data":[{"id":"vnasg_zrPm0dwJ3aKOw","type":"virtual_network_assignment","attributes":{"virtual_network_id":"vlan_ewOM5Go9Y5p8E","vid":2040,"description":"Consensus 2025 Demo VLAN","status":"connected","server":{"id":"sv_ewOM5G7Dm5p8E","hostname":"c2-small-x86-chi-2-test-2","label":"197S001019","status":"on"}}},{"id":"vnasg_X6KG5mnm3ayPB","type":"virtual_network_assignment","attributes":{"virtual_network_id":"vlan_ewOM5Go9Y5p8E","vid":2040,"description":"Consensus 2025 Demo VLAN","status":"connected","server":{"id":"sv_XDO7NYy78NPgw","hostname":"c2-small-x86-chi-1-test-1","label":"197S000982","status":"on"}}},{"id":"vnasg_PVwea48zYaB9O","type":"virtual_network_assignment","attributes":{"virtual_network_id":"vlan_jv6m5JXnQ0LPe","vid":2127,"description":"test-error","status":"connected","server":{"id":"sv_YGwn0VAKpa63J","hostname":"test-server-for-assignment","label":"197S000957NODE10","status":"on"}}}],"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"4f4030a180b806f9317690ef5892a001"
        status: 200 OK
        code: 200
        duration: 763.324667ms
    - id: 1
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"virtual_network_assignment","attributes":{"server_id":"sv_ZWr75Zbjr5A91","virtual_network_id":"vlan_BDXM5E1Yo5rpk"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/virtual_networks/assignments
        method: POST
      response:
        body: '{"data":{"id":"vnasg_ZozMazevy57kw","type":"virtual_network_assignment","attributes":{"virtual_network_id":"vlan_BDXM5E1Yo5rpk","vid":2123,"server_id":"sv_ZWr75Zbjr5A91","description":"test","status":"connecting"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"59633b9008e710c4f82a3111456f72ac"
        status: 201 Created
        code: 201
        duration: 3.745651167s
[...]
    - id: 4
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/virtual_networks/assignments/vnasg_ZozMazevy57kw
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 2.243187208s
[...]
