---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"virtual_network_assignment","attributes":{"server_id":"sv_ZWr75Zbjr5A91","virtual_network_id":"vlan_BDXM5E1Yo5rpk"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/virtual_networks/assignments
        method: POST
      response:
        body: '{"data":{"id":"vnasg_ZWr75ZqEWNA91","type":"virtual_network_assignment","attributes":{"virtual_network_id":"vlan_BDXM5E1Yo5rpk","vid":2123,"server_id":"sv_ZWr75Zbjr5A91","description":"test","status":"connecting"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"0a313e819ac73a58701fa14e04cfa55e"
        status: 201 Created
        code: 201
        duration: 4.731025334s
    - id: 1
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/virtual_networks/assignments
        method: GET
      response:
        body: '{"data":[{"id":"vnasg_ZWr75ZqEWNA91","type":"virtual_network_assignment","attributes":{"virtual_network_id":"vlan_BDXM5E1Yo5rpk","vid":2123,"description":"test","status":"connecting","server":{"id":"sv_ZWr75Zbjr5A91","hostname":"21BS005889","label":"21BS005889","status":"off"}}}],"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"4a1608af6751b6b983350eefa2627574"
        status: 200 OK
        code: 200
        duration: 1.247804667s
[...]
    - id: 3
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/virtual_networks/assignments/vnasg_ZWr75ZqEWNA91
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 2.611538333s
[...]
