---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"projects","attributes":{"name":"test-project-for-firewall-assignment","provisioning_type":"on_demand","environment":"Development"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects
        method: POST
      response:
        body: '{"errors":[{"code":"PROJECT_CREATION_ERROR","status":"bad_request","title":"Project Creation Error","detail":"A project with the same name already exists. Please use a new name.","meta":{}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 1.134431458s
