---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/roles?filter%5Bname%5D=collaborator
        method: GET
      response:
        body: '{"data":[{"id":"role_GXwKmmR11xUrRGRlvq19iBwopdAX","type":"roles","attributes":{"name":"collaborator"}}],"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"798dea54d703e25fe098aec981f6b806"
        status: 200 OK
        code: 200
        duration: 191.19625ms
[...]
