---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"servers","attributes":{"project":"proj_ogXka9v7m0JdB","plan":"c2-small-x86","site":"SAO","operating_system":"ubuntu_24_04_x64_lts","hostname":"test"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/servers
        method: POST
      response:
        body: '{"data":{"type":"servers","id":"sv_3xMV0xMXpNmQp","attributes":{"hostname":"test","label":"19AS020449","role":"Bare Metal","status":"starting_deploy","primary_ipv4":"103.88.235.22","specs":{"cpu":"Xeon E-2276G CPU @ 3.80GHz (6 cores)","disk":"500 GB SSD","ram":"64 GB","nic":"2 X 1 Gbit/s"},"plan":{"id":"plan_2X6KG5mA5yPBM","name":"c2.small.x86","slug":"c2-small-x86","billing":"hourly"}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"f41b19014ececa8940db1c1ab3840e83"
        status: 201 Created
        code: 201
        duration: 1.929871292s
    - id: 1
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/servers/sv_3xMV0xMXpNmQp
        method: GET
      response:
        body: '{"data":{"id":"sv_3xMV0xMXpNmQp","type":"servers","attributes":{"tags":[],"hostname":"test","label":"19AS020449","price":0.22,"role":"Bare Metal","primary_ipv4":"103.88.235.22","status":"on","ipmi_status":"Normal","created_at":"2024-08-19T20:35:53+00:00","scheduled_deletion_at":null,"locked":false,"region":{"city":"São Paulo","country":"Brazil","site":{"id":"loc_87vRENkgNdPyk","name":"São Paulo","slug":"SAO","facility":"Latitude.sh SP1"}},"team":{"id":"team_KpGnxgwe3KS3ojrYVekYUXO22GQ","name":"SDK-Teams-test","slug":"sdk-teams-test","description":"SoHssZNy","address":"HzoVWLcu","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"},"status":"verified"},"project":{"id":"proj_ogXka9v7m0JdB","name":"Terraform Test","slug":"terraform-test","description":"Test terraform provider","billing_type":"Normal","billing_method":"Normal","bandwidth_alert":false,"environment":"Development","billing":{"subscription_id":"sub_1PpbX7LpWuMxVFxQvDDmZwCn","type":"Normal","method":"Normal"},"stats":{"ip_addresses":0,"prefixes":0,"servers":2,"containers":0,"vlans":1}},"plan":{"id":"plan_2X6KG5mA5yPBM","name":"c2.small.x86","slug":"c2-small-x86","billing":"hourly"},"operating_system":{"name":"Ubuntu","slug":"ubuntu_24_04_x64_lts","version":"24.04","features":{"raid":true,"rescue":true,"ssh_keys":true,"user_data":true},"distro":{"name":"ubuntu","slug":"ubuntu","series":"noble"}},"specs":{"cpu":"Xeon E-2276G CPU @ 3.80GHz (6 cores)","disk":"500 GB SSD","ram":"64 GB","nic":"2 X 1 Gbit/s","gpu":null}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"e2487b642c94a25156e0cc824aff0342"
        status: 200 OK
        code: 200
        duration: 1.145724958s
[...]
    - id: 6
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/servers/sv_3xMV0xMXpNmQp
        method: GET
      response:
        body: '{"errors":[{"code":"not_found","status":"404","title":"Error","detail":"Specified Record Not Found","meta":{}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 214.336625ms
