---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"firewall_server","attributes":{"server_id":"sv_BDXM5Ek1m0rpk"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/firewalls/fw_y3ZXaD7n5p2ml/assignments
        method: POST
      response:
        body: '{"data":{"id":"fwasg_PVwea4qW0B9OQ","type":"firewall_assignments","attributes":{"server":{"id":"sv_BDXM5Ek1m0rpk","hostname":"test-server-for-assignment","primary_ipv4":"103.88.235.144"},"firewall_id":"fw_y3ZXaD7n5p2ml"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"2be4f73af3881f2525bac37804ea2cae"
        status: 201 Created
        code: 201
        duration: 3.624098584s
[...]
    - id: 3
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/firewalls/fw_y3ZXaD7n5p2ml/assignments/fwasg_PVwea4qW0B9OQ
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 3.906979792s
[...]
