---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/projects
        method: POST
      response:
        body: '{"data":{"id":"prj_fw_test123","type":"projects","attributes":{"slug":"test-project-for-firewall","name":"test-project-for-firewall","description":null,"environment":"Development","provisioning_type":"on_demand"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Status:
                - 201 Created
        status: 201 Created
        code: 201
        duration: 500ms
    - id: 1
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/firewalls
        method: POST
      response:
        body: '{"data":{"id":"fw_test123","type":"firewalls","attributes":{"name":"test-firewall","project":{"id":"prj_fw_test123","name":"test-project-for-firewall","slug":"test-project-for-firewall"},"rules":[{"from":"0.0.0.0/0","to":"server","port":"22","protocol":"tcp","default":false},{"from":"0.0.0.0/0","to":"server","port":"80","protocol":"tcp","default":false},{"from":"0.0.0.0/0","to":"server","port":"443","protocol":"tcp","default":false}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Status:
                - 201 Created
        status: 201 Created
        code: 201
        duration: 500ms
    - id: 2
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/firewalls/fw_test123
        method: GET
      response:
        body: '{"data":{"id":"fw_test123","type":"firewalls","attributes":{"name":"test-firewall","project":{"id":"prj_fw_test123","name":"test-project-for-firewall","slug":"test-project-for-firewall"},"rules":[{"from":"0.0.0.0/0","to":"server","port":"22","protocol":"tcp","default":false},{"from":"0.0.0.0/0","to":"server","port":"80","protocol":"tcp","default":false},{"from":"0.0.0.0/0","to":"server","port":"443","protocol":"tcp","default":false}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Status:
                - 200 OK
        status: 200 OK
        code: 200
        duration: 500ms
[...]
    - id: 4
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/projects/prj_fw_test123
        method: DELETE
      response:
        body: ''
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Status:
                - 204 No Content
        status: 204 No Content
        code: 204
        duration: 500ms 