---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"virtual_network_assignment","attributes":{"server_id":"sv_ZWr75Zbjr5A91","virtual_network_id":"vlan_BDXM5E1Yo5rpk"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/virtual_networks/assignments
        method: POST
      response:
        body: '{"data":{"id":"vnasg_PVwea48OkaB9O","type":"virtual_network_assignment","attributes":{"virtual_network_id":"vlan_BDXM5E1Yo5rpk","vid":2123,"server_id":"sv_ZWr75Zbjr5A91","description":"test","status":"connecting"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"87a7b74ead7c6f98423e7ad6c643f080"
        status: 201 Created
        code: 201
        duration: 5.240783417s
    - id: 1
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/virtual_networks/assignments
        method: GET
      response:
        body: '{"data":[{"id":"vnasg_PVwea48OkaB9O","type":"virtual_network_assignment","attributes":{"virtual_network_id":"vlan_BDXM5E1Yo5rpk","vid":2123,"description":"test","status":"connecting","server":{"id":"sv_ZWr75Zbjr5A91","hostname":"21BS005889","label":"21BS005889","status":"off"}}}],"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"63bae167aee647b0b7f9348a64e71b5d"
        status: 200 OK
        code: 200
        duration: 661.988375ms
[...]
    - id: 3
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/virtual_networks/assignments/vnasg_PVwea48OkaB9O
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 8.592560792s
[...]
