---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"servers","attributes":{"project":"proj_gXQvNedwV0zpb","plan":"c2-small-x86","site":"SAO","operating_system":"ubuntu_24_04_x64_lts","hostname":"test"}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/servers
        method: POST
      response:
        body: '{"data":{"type":"servers","id":"sv_ZWr75Zbjr5A91","attributes":{"hostname":"test","label":"21BS005889","role":"Bare Metal","status":"starting_deploy","primary_ipv4":"177.54.146.23","specs":{"cpu":"Xeon E-2278G CPU @ 3.40GHz (8 cores)","disk":"2 X 4 TB NVMe","ram":"64 GB","nic":"10 Gbit/s + 1 Gbit/s"},"plan":{"id":"plan_2X6KG5mA5yPBM","name":"c2.small.x86","slug":"c2-small-x86","billing":"hourly"}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"f9908a5712d4e6a3fc3da22786fa4276"
        status: 201 Created
        code: 201
        duration: 2.410120542s
    - id: 1
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/servers/sv_ZWr75Zbjr5A91
        method: GET
      response:
        body: '{"data":{"id":"sv_ZWr75Zbjr5A91","type":"servers","attributes":{"tags":[],"hostname":"test","label":"21BS005889","price":0.18,"role":"Bare Metal","primary_ipv4":"177.54.146.23","status":"on","ipmi_status":"Normal","created_at":"2025-05-05T10:54:34+00:00","scheduled_deletion_at":null,"locked":false,"rescue_allowed":true,"region":{"city":"São Paulo","country":"Brazil","site":{"id":"loc_87vRENkgNdPyk","name":"São Paulo","slug":"SAO","facility":"Latitude.sh SP1"}},"team":{"id":"team_OQDn1Ed7neTgKDb69L3EtqMJVqE","name":"Latitude.sh - QA","slug":"latitudesh-qa","description":null,"address":null,"currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"},"status":"verified","feature_flags":["databases","firewall","gpu_instances","usage_insights"]},"project":{"id":"proj_gXQvNedwV0zpb","name":"Terraform test","slug":"terraform-test","description":"Description of project","billing_type":"Normal","billing_method":"Normal","bandwidth_alert":false,"environment":"Development","billing":{"subscription_id":"sub_1R3jsNLpWuMxVFxQ8pj8ZY4V","type":"Normal","method":"Normal"},"stats":{"databases":0,"ip_addresses":0,"prefixes":0,"servers":4,"storages":0,"virtual_machines":0,"vlans":0}},"plan":{"id":"plan_2X6KG5mA5yPBM","name":"c2.small.x86","slug":"c2-small-x86","billing":"hourly"},"operating_system":{"name":"Ubuntu","slug":"ubuntu_24_04_x64_lts","version":"24.04","features":{"raid":true,"rescue":true,"ssh_keys":true,"user_data":true},"distro":{"name":"ubuntu","slug":"ubuntu","series":"noble"}},"specs":{"cpu":"Xeon E-2278G CPU @ 3.40GHz (8 cores)","disk":"2 X 4 TB NVMe","ram":"64 GB","nic":"10 Gbit/s + 1 Gbit/s","gpu":null}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"26fbd327b00330964a7597ba2b5d8b3e"
        status: 200 OK
        code: 200
        duration: 754.608ms
[...]
    - id: 10
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/servers/sv_ZWr75Zbjr5A91
        method: GET
      response:
        body: '{"errors":[{"code":"not_found","status":"404","title":"Error","detail":"Specified Record Not Found","meta":{}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 231.358292ms
