---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"user_data","attributes":{"description":"test description","content":"bGF0aXR1ZGVzaCB1c2VyIGRhdGEgZXhhbXBsZQ=="}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/projects/proj_ogXka9v7m0JdB/user_data
        method: POST
      response:
        body: '{"data":{"id":"ud_gXQvNejq5zpbP","type":"user_data","attributes":{"description":"test description","content":"bGF0aXR1ZGVzaCB1c2VyIGRhdGEgZXhhbXBsZQ==","created_at":"2024-08-19T20:36:34+00:00","updated_at":"2024-08-19T20:36:34+00:00","decoded_content":"latitudesh user data example"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"de7ca9917da3ba41ec6281094ccf7d91"
        status: 201 Created
        code: 201
        duration: 292.918375ms
    - id: 1
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/projects/proj_ogXka9v7m0JdB/user_data/ud_gXQvNejq5zpbP
        method: GET
      response:
        body: '{"data":{"id":"ud_gXQvNejq5zpbP","type":"user_data","attributes":{"description":"test description","content":"bGF0aXR1ZGVzaCB1c2VyIGRhdGEgZXhhbXBsZQ==","created_at":"2024-08-19T20:36:34+00:00","updated_at":"2024-08-19T20:36:34+00:00","decoded_content":"latitudesh user data example"}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"de7ca9917da3ba41ec6281094ccf7d91"
        status: 200 OK
        code: 200
        duration: 577.352125ms
[...]
    - id: 4
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/projects/proj_ogXka9v7m0JdB/user_data/ud_gXQvNejq5zpbP
        method: GET
      response:
        body: '{"errors":[{"code":"not_found","status":"404","title":"Error","detail":"Specified Record Not Found","meta":{}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 574.9685ms
