---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: |
            {"data":{"type":"firewalls","attributes":{"name":"test-firewall","project":"proj_gXQvNedwV0zpb","rules":[{"from":"0.0.0.0","to":"0.0.0.0","port":"443","protocol":"TCP","default":false},{"from":"ANY","to":"ANY","port":"22","protocol":"TCP","default":false},{"from":"0.0.0.0","to":"0.0.0.0","port":"80","protocol":"TCP","default":false}]}}}
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/firewalls
        method: POST
      response:
        body: '{"data":{"id":"fw_zrPm0dXn0KOw3","type":"firewalls","attributes":{"name":"test-firewall","project":{"id":"proj_gXQvNedwV0zpb","name":"Terraform test","slug":"terraform-test"},"rules":[{"from":"ANY","to":"ANY","port":"22","protocol":"TCP","default":true},{"from":"0.0.0.0","to":"0.0.0.0","port":"443","protocol":"TCP","default":false},{"from":"ANY","to":"ANY","port":"22","protocol":"TCP","default":false},{"from":"0.0.0.0","to":"0.0.0.0","port":"80","protocol":"TCP","default":false}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"7a86d3d8b308bfffb0d827b46f1a117a"
        status: 201 Created
        code: 201
        duration: 647.929666ms
    - id: 1
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/firewalls/fw_zrPm0dXn0KOw3
        method: GET
      response:
        body: '{"data":{"id":"fw_zrPm0dXn0KOw3","type":"firewalls","attributes":{"name":"test-firewall","project":{"id":"proj_gXQvNedwV0zpb","name":"Terraform test","slug":"terraform-test"},"rules":[{"from":"ANY","to":"ANY","port":"22","protocol":"TCP","default":true},{"from":"0.0.0.0","to":"0.0.0.0","port":"443","protocol":"TCP","default":false},{"from":"ANY","to":"ANY","port":"22","protocol":"TCP","default":false},{"from":"0.0.0.0","to":"0.0.0.0","port":"80","protocol":"TCP","default":false}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json; charset=utf-8
            Etag:
                - W/"7a86d3d8b308bfffb0d827b46f1a117a"
        status: 200 OK
        code: 200
        duration: 618.172125ms
[...]
    - id: 4
      request:
        host: api.latitude.sh
        body: ""
        form: {}
        headers:
            Api-Version:
                - "2023-06-01"
            Authorization:
                - '[REDACTED]'
        url: https://api.latitude.sh/firewalls/fw_zrPm0dXn0KOw3
        method: GET
      response:
        body: '{"errors":[{"code":"not_found","status":"404","title":"Error","detail":"Specified Record Not Found","meta":{}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 607.360417ms
