---
version: 2
interactions:
    - id: 0
      request:
        host: api.latitude.sh
        body: '{"data":{"attributes":{"color":"#ffffff","description":"terraform test tag","name":"env:prod"},"type":"tags"}}'
        form: {}
        headers:
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags
        method: POST
      response:
        body: '{"data":{"id":"tag_mzbQLLMO8XHYR1eBQOgQt4gVpgR","type":"tags","attributes":{"name":"env:prod","slug":"env-prod","description":"terraform test tag","color":"#ffffff","team":{"id":"team_OQDn1Ed7neTgKDb69L3EtqMJVqE","name":"Latitude.sh Labs","slug":"latitudesh-labs","description":"","address":"address=3%20Germay%20Dr\u0026city=Wilmington\u0026state=WY\u0026zip=19804\u0026country=US","status":"verified","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
            Etag:
                - W/"d4744d2e05af9e0e11580650402267a2"
        status: 201 Created
        code: 201
        duration: 297.575042ms
[...]
    - id: 4
      request:
        host: api.latitude.sh
        body: '{"data":{"attributes":{"color":"#ffffff","description":"terraform test tag","name":"env_prod"},"id":"tag_mzbQLLMO8XHYR1eBQOgQt4gVpgR","type":"tags"}}'
        form: {}
        headers:
            Authorization:
                - '[REDACTED]'
            Content-Type:
                - application/json
        url: https://api.latitude.sh/tags/tag_mzbQLLMO8XHYR1eBQOgQt4gVpgR
        method: PATCH
      response:
        body: '{"data":{"id":"tag_mzbQLLMO8XHYR1eBQOgQt4gVpgR","type":"tags","attributes":{"name":"env_prod","slug":"env_prod","description":"terraform test tag","color":"#ffffff","team":{"id":"team_OQDn1Ed7neTgKDb69L3EtqMJVqE","name":"Latitude.sh Labs","slug":"latitudesh-labs","description":"","address":"address=3%20Germay%20Dr\u0026city=Wilmington\u0026state=WY\u0026zip=19804\u0026country=US","status":"verified","currency":{"id":"cur_87vRENkgNdPyk","code":"USD","name":"United States Dollar"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
            Etag:
                - W/"b6943e18dbbfa7afe48453044a5ecde5"
        status: 200 OK
        code: 200
        duration: 285.054208ms
[...]
