---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

Retrieve a [Latitude.sh](https://latitude.sh/) virtual machine backup by `id`.

## Example Usage

{{ tffile (printf "examples/%s.tf" .Name) }}

{{ .SchemaMarkdown | trimspace }}
